<p id="notice"></p>

<h1 class="font_sample">Tasks</h1>
<div class="serch_form">
  <%= form_with(method: :get,url: tasks_path, local: true) do |form| %>
    <%= form.label :name_serch, "NAME検索" %>
    <%= form.text_field :name %>
    <div class="serch_btn">
      <%= form.label :completed_serch, "進捗検索" %>
      <%= form.select :completed, [[],['未着手',0],['着手中',1],['完了',2]] %>
      <%= form.hidden_field :search, value: 'true' %><br>
      <%= form.label :label_serch, "ラベル検索" %>
      <%= form.select("label_id", Label.pluck(:name, :id), { include_blank: true }) %>
    </div>
    <%= form.submit "絞り込み検索" %>
  <% end %>
</div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %></li>
    <li class="breadcrumb-item"><%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= link_to "ソートリセット", tasks_path %></li>
  </ol>
</nav>


<div class="container">


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>End_at</th>
      <th class="title">Completed</th>
      <th class="title">Priority</th>
      <th class="title">Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @tasks.each do |task| %>

      <tr class="task_row">
        <td><%= task.name %></td>
        <td><%= task.content %></td>
        <td><%= task.end_at %></td>
        <td class="title"><%= task.completed %></td>
        <td class="title"><%= task.priority %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.name %>
          <% end %>
        </td>
        <td><%= link_to 'Show', task , class: "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'New Task', new_task_path, class: "btn btn-primary" %><br>
<div class="page">
  <%= paginate @tasks %>
</div>
